  <%= render "/users/sidebar", book: @book %>
  <div class='col-xs-9'>
		<h2>Book detail</h2>
		<table class='table'>
		  <tr>
        <td><a href="/users/18335">
          <!--<img class="attachment user profile_image fallback" src="/assets/no-image-icon-d3f9e11cb2bb284b42e0810f94b03c50126f51f482ea43054b87c2b7ebaa01d5.jpg" alt="No image icon" /><br>-->
          aa
</a>        </td>
        <td><a href="/books/29353">a</a></td>
        <td>a</td>

          <td><a class="btn-sm btn-success edit_book_29353" href="/books/29353/edit">Edit</a></td>
          <td><a data-confirm="本当に消しますか？" class="btn-sm btn-danger destroy_book_29353" rel="nofollow" data-method="delete" href="/books/29353">Destroy</a></td>
      </tr>
    </table>

  </div>